@model Blog.ViewModel.PageViewModel<Blog.ViewModel.PostViewModel>

<div class="row-fluid">
    @Html.Action("ThreeLastPosts", "Home")
    <div class="col-md-6">
        @Html.Partial("_PostsPartial", @Model)
        <div class="panel-footer" style="text-align: center;">
            @if (Model.CurrentPage != Model.PageNumber)
            {
                <button class="btn btn-success" id="scrool">Загрузить еще комментарии</button>
            }

        </div>

    </div>
    <div class="col-md-3">
        @Html.Action("ThreeLastComments", "Home")
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#scrool').click(function() {
                var page = $('.row #page').last().data('page') + 1;
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("PostPages", "Post")",
                    data: "&page=" + page,
                success: function(data) {
                        
                    $('#blockComment').append($(data));
                    if (page < ( @Model.PageNumber)) {
                        $('#scrool').addClass('hidden');
                    }
                }
            });
        });
            $('.lastComments').click(function () {
                var id = $(this).data('id');
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("VoteComment", "Vote")",
                    data: "id=" + id + "",
                    success: function(data) {
                        $(".lastComments[data-id="+ id + "]").text(data);
                    }
                });
            });
            $('.lastPosts').click(function() {
                var id = $(this).data('id');
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("VotePost", "Vote")",
                    data: "id=" + id + "",
                    success: function(data) {
                        $(".lastPosts[data-id=" + id + "]").text(data);
                        $(".votesPost[data-id=" + id + "]").text(data);
                    }
                });
            });
            $('.votesPost').click(function() {
                var id = $(this).data('id');
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("VotePost", "Vote")",
                    data: "id="+id+ "",
                    success: function(data) {
                        $(".votesPost[data-id=" + id + "]").text(data);
                        $(".lastPosts[data-id=" + id + "]").text(data);
                    }
                });
            });
        });
    </script>
}

