@model IEnumerable<Blog.ViewModel.CommentViewModel>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Последние комментарии</h3>
    </div>
    <div class="panel-body">
        @foreach (var comment in Model)
        {
            <div class="well hero-init">
                <h3>
                    @comment.UserName
                </h3>
                <p>
                    @comment.Text
                </p>
                <small><i data-id="@comment.Comment.Id" class="lastComments glyphicon glyphicon-heart">@comment.VotesValue</i></small>
                <p><small class="pull-right">Опубликован @comment.Comment.Created</small></p>
                <p>
                    @Html.ActionLink("К посту", "PostView", "Post", new { id = @comment.Comment.PostId }, new { @class = "btn btn-success btn-large" })
                </p>
            </div>
        }
    </div>
</div>

    


